* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.recipes {
  padding: 10px;
  height: 100vh;
  display: flex;
}

.recipe-box {
  padding: 10px;
  flex: 3;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.recipe-creation-box {
  clip-path: polygon(100% 0, 100% 38%, 100% 100%, 0 94%, 0 18%);
  padding: 10px;
  flex: 2;
  background-image: linear-gradient(
    to right top,
    #ff80c8,
    #cd74bd,
    #9c67ab,
    #6f5993,
    #494976,
    #3f4674,
    #334471,
    #26416e,
    #294d88,
    #2c59a4,
    #3166c0,
    #3872dc
  );
  display: grid;
  place-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
